
body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    font-size: 15px;
}
    #container {
        width: 80%;
        margin: 1em auto;
    }

header nav ul li {
    display: inline;
    float: left;
    margin-right: 40px;
}
    header nav ul li a {
        color: darkgray;
        text-decoration: none;
    }
    header nav ul li a:hover {
        text-decoration: underline;
    }
    header nav form {
        margin-left: 880px;
    }

aside {
    width: 20%;
    float: left;
    margin-top: 50px;
}
    aside ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
        aside ul li a {
            text-decoration: none;
        }
        aside ul li a:hover {
            text-decoration: underline;
        }
    aside select {
        background-color: white;
    }
    aside>p {
        color: darkgray;
    }

section {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    float: left;
}
    section a {
        text-decoration: none;
    }
    section a:hover {
        text-decoration: underline;
    }

article>header>p {
    color: darkgray;
}

#twitter {
    margin-top: 20px;
    color: grey;
    width: 100%;
    float: left;
    font-style: italic;
    height: 50px;
    background-color: whitesmoke;
}
    #twitter>img {
        margin: 15px;
        float: left;
    }


footer {
    width: 100%;
    color: white;
    background-color: black;
    float: left;
}
    footer div {
        padding-left: 30px;
        float: left;
        width: 180px;
    }
    footer ul {
        padding-left: 20px;
    }
    footer ul li {
        display: block;
    }
    footer ul li a {
        color: white;
        text-decoration: none;
    }
    footer ul li a:hover {
        text-decoration: underline;
    }
    .gray {
        color: darkgray;
    }
    .white-color {
        color: white;
    }