html, body, header, ul, li, div, a, input, button{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: sans-serif;
}

#wrapper {
	font-size: 12px;
	margin: 10px auto;
	width: 1000px;
	height: 250px;
	background-color: #234465;
	color: #ffffff;
	padding: 20px 80px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}
	ul > li {
		margin-top: 10px;
		font-size: 15px;
	}

h3 {
	color: #ff9c00;
}

section {
	float: left;
	width: 200px;
}
	section > ul {
		font-family: serif;
	}
	section .social-links li{
		display: inline-block;
		margin-right: 10px;
	}
	section a {
		color: #ffffff;S
	}
	section a:hover{
		color: #ff9c00;
	}
	section > ul {
		
	}
		.links > ul > li {
			border: 2px solid #ff9c00;
			width: 150px;
			text-align: center;
			padding: 15px 5px;
		}
		.links > ul > li:hover{
			background-color: #ff9c00;
		}
		.links > ul > li > a {
			color: #ffffff;
			font-size: 15px;
		}

iframe {
	width: 250px;
	height: 215px;
    background-color: #E9EDF0;
}