body {
    margin: 0;
    padding: 0;
    font-family: serif;
}

#wrapper {
    border: 1px solid #C0C0C0;
    width: 380px;
    height: 200px;
    margin: 1em auto;
    padding-left: 2em;
    font-size: 15px;
}

header img{
    float: left;
}

h1 {
    color: grey;
    font-size: 40px;
}
    h1 span {
        color: #377c9b;
    }

section {
    float: left;
}
    section div {
        float: left;
        margin-bottom: 2em;
    }
    section div #search {
        width: 150px;
        height: 30px;
    }
    section img {
        margin-bottom: 1em;
    }